---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Layer from "../components/icons/Layer.astro";
import Jetpack from "../components/icons/Jetpack.astro";
import Message from "../components/icons/Message.astro";
import Feature from "../components/Feature.astro";

const FEATURES = [
  {
    title: "Velocidad y rápidez",
    description:
      "Mantente al día con las últimas noticias de SpaceX. Nuestro boletín te ofrece actualizaciones instantáneas y resúmenes breves, asegurando que no te pierdas nada importante.",
  },
  {
    title: "Noticias día a día",
    description:
      "Recibe un resumen diario de las noticias más relevantes de SpaceX, desde lanzamientos hasta actualizaciones de misiones, para tener una visión completa del mundo espacial.",
  },
  {
    title: "Contenido personalizado",
    description:
      "Adapta tu experiencia de lectura con contenido según tus intereses. Selecciona tus temas favoritos y recibe noticias alineadas con tus pasiones sobre SpaceX.",
  },
];
---

<Layout title="AstroNews | Información de los útlimos lanzamientos de SpaceX">
  <main>
    <Hero />

    <!-- Sección caracteristicas -->
    <Section
      id="caracteristicas"
      title="Carácteristicas"
      description="Astro se destaca por los siguientes puntos:"
    >
      <Layer slot="icon" />

      <div class="grid grid-cols-1 gap-5">
        {
          FEATURES.map((feature, index) => {
            return (
              <Feature
                key={index}
                title={feature.title}
                description={feature.description}
              />
            );
          })
        }
      </div>
    </Section>

    <!-- Sección de características -->
    <Section
      id="lanzamientos"
      title="Últimos lanzamientos"
      description="Consulta el estado de los ultimos lanzamientos de SpaceX"
    >
      <Jetpack slot="icon" />
    </Section>

    <!-- Sección contacto -->
    <Section
      id="contacto"
      title="Contáctanos"
      description="Enviános un mensaje aquí:"
    >
      <Message slot="icon" />

      <article class="w-full max-w-screen-sm">
        <form class="flex flex-col gap-4" autocomplete="off" action="/">
          <input
            class="px-4 py-2 rounded-md bg-transparent border-2 border-[#7b7b7b] placeholder:text-sm placeholder:text-[#989898] outline-none valid:border-[#e7e7e7]"
            type="email"
            placeholder="Correo"
            required
          />
          <textarea
            class="px-4 py-2 rounded-md bg-transparent border-2 border-[#7b7b7b] placeholder:text-sm placeholder:text-[#989898] outline-none valid:border-[#e7e7e7] resize-none"
            placeholder="Detalla tu mensaje!"
            required
            cols="30"
            rows="6"></textarea>

          <button
            class="w-full py-2 px-4 bg-gradient-to-r from-[#af00ff] to-[#cc00ff] text-white font-semibold rounded-md"
            >Enviar</button
          >
        </form>
      </article>
    </Section>
  </main>

  <Footer />
</Layout>
