---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Characteristic from "../components/Characteristic.astro";
import Notice from "../components/Notice.astro";
import Section from "../components/Section.astro";
import Footer from "../components/Footer.astro";
import { notices } from "../services/notices.js";
---

<Layout title="AstroNews | Daily programming news ">
  <Navbar>
    <!-- Sección inicio -->
    <section
      id="inicio"
      class="flex flex-col justify-center items-center md:flex-row md:gap-2"
    >
      <div class="w-full mb-4 md:basis-1/2 md:mb-0">
        <img
          class="block w-full max-w-64 mx-auto md:max-w-72 lg:max-w-80"
          src="/hero-image.svg"
          alt=""
        />
      </div>

      <article class="w-full md:basis-1/2">
        <div
          class="flex flex-col items-center text-center md:text-left md:items-start"
        >
          <h1
            class="w-11/12 text-4xl font-semibold text-balance mb-2 lg:text-5xl"
          >
            Bienvenido a <span
              class="font-bold bg-gradient-to-r from-[#af00ff] to-[#cc00ff] bg-clip-text text-transparent"
              >AstroNews</span
            >
          </h1>

          <p class="w-11/12 text-[#d7cbdd] text-sm text-balance lg:text-lg">
            Embárcate en un viaje cósmico por el universo de la tecnología.
            AstroNews te trae las últimas novedades, tendencias y
            descubrimientos en el mundo de la informática y la programación.
          </p>

          <div class="flex mt-8">
            <a
              class="py-2 px-4 bg-gradient-to-r from-[#af00ff] to-[#cc00ff] text-white text-sm font-semibold rounded-md hover:scale-[1.15] duration-200 ease-out"
              href="/">Leer más</a
            >
          </div>
        </div>
      </article>
    </section>
  </Navbar>

  <main class="mt-20">
    <!-- Sección caracteristicas -->
    <Section
      id="caracteristicas"
      title="Carácteristicas"
      description="Astro se destaca por los siguientes puntos:"
    >
      <div class="grid grid-cols-1 gap-8 md:grid-cols-3 md:gap-4">
        <Characteristic
          src="/rocket.svg"
          title="Velocidad y rápidez"
          desc="Aprende los conceptos clave de programación en tiempo récord. Domina nuevas tecnologías y lenguajes con nuestros tutoriales express."
        />

        <Characteristic
          src="/newsletter.svg"
          title="Noticias día a día"
          desc="Sé el primero en conocer las últimas noticias y tendencias del sector. Mantente actualizado con los lanzamientos más recientes de frameworks y herramientas."
        />

        <Characteristic
          src="/edit.svg"
          title="Contenido personalizado"
          desc="Planifica tu día con nuestras recomendaciones personalizadas. Un resumen conciso de las noticias más importantes para programadores."
        />
      </div>
    </Section>

    <!-- Sección notícias -->
    <Section
      id="noticias"
      title="Notícias Astro"
      description="Las NotiAstros más populares:"
    >
      <div
        class="grid grid-cols-1 gap-8 text-center sm:grid-cols-2 lg:grid-cols-3"
      >
        {
          notices.map((notice) => (
            <Notice
              title={notice.title}
              src={notice.src}
              desc={notice.description}
              href={`/notice/${notice.id}`}
            />
          ))
        }
      </div>
    </Section>

    <!-- Sección contacto -->
    <Section
      id="contacto"
      title="Contáctanos"
      description="Enviános un mensaje aquí:"
    >
      <article class="w-full max-w-screen-sm">
        <form class="flex flex-col gap-4" autocomplete="off" action="/">
          <input
            class="px-4 py-2 rounded-md bg-transparent border-2 border-[#7b7b7b] placeholder:text-sm placeholder:text-[#989898] outline-none valid:border-[#e7e7e7]"
            type="email"
            placeholder="Correo"
            required
          />
          <textarea
            class="px-4 py-2 rounded-md bg-transparent border-2 border-[#7b7b7b] placeholder:text-sm placeholder:text-[#989898] outline-none valid:border-[#e7e7e7] resize-none"
            placeholder="Detalla tu mensaje!"
            required
            cols="30"
            rows="6"></textarea>

          <button
            class="w-full py-2 px-4 bg-gradient-to-r from-[#af00ff] to-[#cc00ff] text-white font-semibold rounded-md"
            >Enviar</button
          >
        </form>
      </article>
    </Section>
  </main>

  <Footer />
</Layout>
