---
//Código JavaScript
const { src, title, description } = Astro.props;
---

<article class="w-full flex flex-col items-center text-center">
    <div class="w-16">
        <img class="w-full block" src={src} alt={title}>
    </div>

    <h3 class="text-lg font-semibold">{title}</h3>
    <p class="w-4/6 text-[#aca4b1] text-sm text-balance md:w-4/5">{description}</p>
</article>