---
// Código JavaScript
---

<footer
  class="w-full text-center border-t-[1px] border-white/30"
>
  <div class="pt-6">
    <p class="text-[#d5d5d5] text-sm mb-1 text-balance">© 2024 AstroNews. Todos los derechos reservados.</p>
    <p class="text-[#797979] text-xs text-balance">Página diseñada por Keyner de Ávila</p>
  </div>
</footer>
