---

---

<section class="relative h-[620px] flex items-center overflow-hidden">
    <div
        class="absolute top-0 right-0 translate-x-32 -translate-y-40 w-80 bg-[#07000B] -z-10"
    >
        <div class="w-full h-full">
            <img
                class="mix-blend-color-dodge opacity-70 pointer-events-none"
                src="/rocket-hero.webp"
                alt="Imagen del cohete - imagen principal"
            />
            <div
                class="absolute inset-0 bg-gradient-to-l from-[#07000B] to-[#07000B]/10"
            >
            </div>
        </div>
    </div>

    <div class="w-full px-8">
        <div class="mb-2">
            <h3 class="text-xl italic text-pink-100/90">Bienvenido a</h3>
            <h1 class="text-4xl font-semibold">
                Astro<span
                    class="font-bold bg-gradient-to-r from-[#af00ff] to-[#cc00ff] bg-clip-text text-transparent"
                    >News</span
                >
            </h1>
        </div>

        <p class="text-neutral-50/60 text-sm text-pretty w-2/3">
            Información de los útlimos lanzamientos de SpaceX
        </p>

        <div class="mt-12">
            <img
                class="w-32 block pointer-events-none"
                src="/spacex.svg"
                alt="Logo de SpaceX"
            />
        </div>
    </div>
</section>
