---
//Código JavaScript
---

<header class="mb-20">
  <!-- Navbar -->
  <nav class="flex items-center justify-between mb-8 md:justify-between z-[1000] relative">
    <a href="/" class="text-2xl font-medium"
      >Astro<span
        class="font-bold bg-gradient-to-r from-[#af00ff] to-[#cc00ff] bg-clip-text text-transparent"
        >News</span
      ></a
    >

    <!-- Menu desktop -->
    <div class="hidden md:flex items-center justify-center gap-4">
        <a class="text-sm hover:bg-white hover:text-black font-medium duration-150 rounded-md py-2 px-4" href="/#inicio">Inicio</a>
        <a class="text-sm hover:bg-white hover:text-black font-medium duration-150 rounded-md py-2 px-4" href="/#caracteristicas">Características</a>
        <a class="text-sm hover:bg-white hover:text-black font-medium duration-150 rounded-md py-2 px-4" href="/#noticias">Noticias</a>
        <a class="text-sm hover:bg-white hover:text-black font-medium duration-150 rounded-md py-2 px-4" href="/#contacto">Contacto</a>
    </div>

    <button type="button" id="menu-btn" class="cursor-pointer md:hidden">
      <img src="/menu.svg" alt="menu-svg" />
    </button>
  </nav>

  <!-- Menu mobile -->
  <section
    id="menu-mobile" class="absolute top-0 left-0 w-full h-screen min-h-[550px] bg-black flex flex-col items-center justify-center z-[1000] translate-y-[-105%] duration-500 md:hidden"
  >
    <h1 class="text-4xl font-medium mb-8">
      Astro<span
        class="font-bold bg-gradient-to-r from-[#af00ff] to-[#cc00ff] bg-clip-text text-transparent"
        >News</span
      >
    </h1>

    <ul class="flex items-center flex-col text-center gap-4">
      <li class="flex">
        <a
          class="menu-item py-2 px-4 hover:bg-white hover:text-black duration-100 rounded-md font-medium"
          href="/#inicio">Inicio</a
        >
      </li>

      <li class="flex">
        <a
          class="menu-item py-2 px-4 hover:bg-white hover:text-black duration-100 rounded-md font-medium"
          href="/#caracteristicas">Características</a
        >
      </li>

      <li class="flex">
        <a
          class="menu-item py-2 px-4 hover:bg-white hover:text-black duration-100 rounded-md font-medium"
          href="/#noticias">Noticias</a
        >
      </li>

      <li class="flex">
        <a
          class="menu-item py-2 px-4 hover:bg-white hover:text-black duration-100 rounded-md font-medium"
          href="/#contacto">Contacto</a
        >
      </li>
    </ul>

    <button type="button" id="menu-btn-close" class="absolute top-0 right-0 -translate-x-10 translate-y-10 cursor-pointer">
      <img src="/x.svg" alt="menu-close-svg" />
    </button>
  </section>

  <slot />
</header>
